<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
<div class="container">
    <div id="movie-details">
        <% movies.forEach(function (movie){ %>
        <h1 class="text-center"><%= movie.title %></h1>
        <div class="row">
            <div class="col-xs-5">
                <img class="movie-poster" src=<%= movie.poster || movie.Poster %> />
            </div>
            <div class="col-xs-7">
                <table class="table">
                    <% var obj = Object.keys(movie)
                    obj.forEach(function (keys, index) {
                    %>
                    <tr>
                        <td><%= keys %></td>
                        <td><%= movie[keys] %></td>
                    </tr>
                    <%  }) %>
                </table>
            </div>
        </div>

        <div class="row">
            <div class=buttons>
                <a class="btn btn-primary" href=<%= '/' %>>Back</a>
            </div>
        </div>
        <% })%>
    </div>
</div>
</body>
</html>

